.card {
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0px 20px 0 rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.2);
    transition: 0.3s;
 }

.mr-n2 {
    margin-right: -.75em !important;
}