{% extends 'layout.html' %}

{% block body %}
    <style>
        body{
    
        background-color: #efefef;
        background-image : url(/static/img/bookshelf.jpg);
        background-repeat : no-repeat;
        background-size:cover;
        width:100%;
        height:100%;
        background-attachment:fixed;
        background-position:center center;
        }
    </style>
    <div class="container mt-5">
        <div class = "row">
            <div class="col-md-10 offset-md-2">
                <div class="col-lg-10">
                    <div class ="card p-3">
                        <h1 style="color:black;">Blogs</h1>
                        <hr>
                        <form>
                            {% csrf_token %}
                            <input type="text" name ="keyword" class="input-sm" maxlength ="64" placeholder="Text here..."/>
                            <button type="submit" class="btn btn-outline-primary">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% if articles %}

    {% for article in articles %}
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-10 offset-md-2">
                    <div class="col-lg-10">
                        <!-- Post content-->
                        <article class="card p-4">
                            <!-- Post header-->
                            <header class="mb-4">
                                <!-- Post title-->
                                <a href="{% url 'article:detail' article.id %}"><h2 class="fw-bolder mb-1" style = "color : black;">{{article.title}}</h2></a>
                                <!-- Author -->
                                <p class ="lead">
                                    by {{article.author.username}}
                                </p>
                                <!-- Post meta content-->
                                <div class="text-muted fst-italic mb-2">{{article.created_date}}</div>
                            </header>
                            <hr>
                            <!-- Preview image figure-->
                            {% if article.article_image %}
                                <a href="{% url 'article:detail' article.id %}"><img class="img-fluid rounded" src="{{article.article_image.url}}" alt="" /></a>
                                <hr>
                            {% endif %}
                            <!-- Post content-->
                            <section class="mb-5">
                                <p class="fs-5 mb-4">
                                    {{article.content|safe|truncatewords:30}}
                                </p>
                            </section>
                            <div><a style ="float : right" href="{% url 'article:detail' article.id %}" class ="btn btn-danger">Read More</a></div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% else %}
    <div class = "row">
        <div class="col-md-10 offset-md-3">
            <div class="col-lg-8">
                <br><br>
                <div class = "alert alert-danger">
                    There is no blog available.
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% endblock body %}



