{% extends "layout.html" %}

{% block body %}


<div class ="jumbotron text-center">
    <h3>the House Of Memories</h3>
    <p>Hoşgeldiniz...</p>
</div>

<div class ="container">
    <div class ="row">
        <div class="col-md">
            <div class="card">
                <a href="/blogs/blog/30"><img class="bd-placeholder-img card-img-top" width="100%" height="180" src="/templates/images/ragnar.gif" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"></a>

            <div class="card-body">
                <h3 class="card-title">Ragnar Lodbrok</h3>
                <p class="card-text">According to medieval sources, Ragnar Lothbrok was a 9th-century Danish Viking king and warrior known for his exploits, for his death in a snake pit at the hands of Aella of Northumbria, and for being the father of Halfdan, Ivar the Boneless, and Hubba, who led an invasion of East Anglia in 865.</p>
                <a href="/blogs/blog/30" class="btn btn-primary">Read More</a>
            </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">
            <a href="/blogs/blog/31"><img class="bd-placeholder-img card-img-top" width="100%" height="180" src"/templates/images/bjorn_image.gif" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"></a>

            <div class="card-body">
                <h3 class="card-title">Bjorn Ironside</h3>
                <p class="card-text">Björn Ironside, according to Norse legends, was a Norse Viking chief and Swedish king. According to the 12th- and 13th-century Scandinavian histories, he was the son of notorious Viking king Ragnar Lodbrok and lived in the 9th century, being dated between 855 and 858.</p>
                <a href="/blogs/blog/31" class="btn btn-primary">Read More</a>
            </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">
            <a href="/blogs/blog/36"><img class="bd-placeholder-img card-img-top" width="100%" height="180" src="/templates/images/ivar.gif" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"></a>

            <div class="card-body">
                <h3 class="card-title">Ivar the Boneless</h3>
                <p class="card-text">Ivar the Boneless was a Viking chieftain who was said to be the son of the Danish king Ragnar Lothbrok. Ivar invaded England not to plunder, as was typical of Viking raiders, but to conquer. Much of what is known about his life is from legend.</p>
                <a href="/blogs/blog/36" class="btn btn-primary">Read More</a>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}